.input-div {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}

.input-div input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-inline-start: 1rem;
  background-color: rgb(229, 229, 229);
  border: none;
}

form button {
  background-color: rgb(28, 212, 163);
  border: none;
  cursor: pointer;
  margin: 1.2rem;
  padding: 0.5rem 1rem;
}
