.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  /* height: 10rem; */
  /* position: fixed; */
  bottom: 0;
  /* width: 100%; */
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
}

.social-media {
  margin-top: 10px;
}

.social-media a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}
